/*=============================================== Général =========================================*/

#EditeurStyle{
    background-color: #2B2B2B;
    width: 580px;
    position: absolute;
    top: calc(50% - 100px);
    left: calc(50% - 290px);
}



/*=============================================== Nav =========================================*/


#Outils{
    background-color: #3C3F41;
    height: 40px;
    border-bottom: 2px solid #696969;
}

#ModPolice{
    width: 118px;
}

#EditeurStyle select{
    border-bottom: none;
}


/*=============================================== Contenu =========================================*/


#EditeurStyle  .text{
    display: flex;
    position: relative;
    height: calc(100% - 42px);
}



.Modcontent{
    height: calc(100% - 60px);
    width: 598px;
    color: white;
    padding: 10px;
    position: relative;
    text-align: center;
    border-left: 2px solid #696969;
    margin: 0px;
}

#EditeurStyle .lignes {
    width: 40px;
    background-color: #313335;
    border-right: 2px solid #696969;
    position: relative;
    height: 100%;
}


.Hilite{
    width: fit-content;
    margin: auto;
}

#LeContenu{
    text-align: center;
    margin: auto;
}


/*=============================================== Ligne du bas =========================================*/


#LigneBasStyle{
    height: 40px;
    display: flex;
    position: relative;
    bottom: 0px;
    background-color: #3C3F41;
}
#NomStyleDiv{
    width: 520px;
    text-align: center;
    color: white;
    padding: 10px;
    border-right: 2px solid #696969;
    border-top: 2px solid #696969;
    box-sizing: border-box;
    font-family: Arial;
}
#BtnEnregistrer{
    width: 140px;
    text-align: center;
    color: white;
    padding: 10px;
    box-sizing: border-box;
    border-top: 2px solid #696969;
    font-family: Arial;
}


@media (max-width: 580px) {
    #EditeurStyle{
        width: 480px;
        top: calc(50% - 120px);
        left: calc(50% - 240px);
    }

    #Outils{
        height: 80px;
    }
    #EditeurStyle .text{
        height: calc(100% - 92px);
    }
    #EditeurStyle select{
        border-bottom: 2px solid #696969;
    }

}
@media (max-width: 480px) {

    #EditeurStyle{
        width: 350px;
        top: calc(50% - 140px);
        left: calc(50% - 175px);
    }
}
@media (max-width: 360px) {

    #EditeurStyle{
        width: 100%;
        top: calc(50% - 140px);
        left: 0px;
    }
    #NomStyleDiv{
        padding: 10px 0px 0px 0px;
    }
}
