* ====================================== DEFINITIONS DE POLICES ====================================== */
@font-face {
    font-family: 'Arctik';
    src: url('font/Arctik.ttf') format('truetype');
}
@font-face {
    font-family: 'Diskontented';
    src: url('font/Diskontented.ttf') format('truetype');
}@font-face {
    font-family: 'Keep Singing';
    src: url('font/Keep Singing.ttf') format('truetype');
}
@font-face { /* Définition d'une nouvelle police nommée CAC Champagne */
    font-family: 'Champagne';
    src: url('font/Champagne.eot');
    src: url('font/Champagne.eot?#iefix') format('embedded-opentype'),
    url('font/Champagne.woff') format('woff'),
    url('font/Champagne.ttf') format('truetype'),
    url('font/Champagne.svg#Champagne') format('svg');
}
.Arctik{
    font-family: "Arctik";
}
.Arial{
    font-family: "Arial";
}
.Champagne{
    font-family: "Champagne";
}
.Courier{
    font-family: "Courier";
}
.Diskontented{
    font-family: "Diskontented";
}
.Keep{
    font-family: "Keep Singing";
}
/* ====================================== FIN DEFINITIONS DE POLICES ====================================== */
/* ====================================== GENERAL ====================================== */
html {
    height: 100%;
}
body{
  margin: 0px;
  padding: 0px;
  background-color: #2B2B2B;
    height: 100%;
}
/* ====================================== FIN GENERAL ====================================== */
/* ====================================== ZONE TEXTE ====================================== */
.text{
  display: flex;
    height: calc(100% - 52px);
}
.content{
  height: 100%;
  width: 100%;
  color: white;
  margin: 10px 10px 0px 10px;
}
/* ====================================== FIN ZONE TEXTE ====================================== */
/* ====================================== BARRE NAVIGATION ====================================== */
nav{
  background-color: #3C3F41;
  height: 40px;
  border-bottom: 2px solid #696969;
}
/* ====================================== FIN BARRE NAVIGATION ====================================== */
/* ====================================== BOUTTONS BARRE NAVIGATION ====================================== */
select{
  height: 40px;
  vertical-align: top;
  margin: 0 0.3%;
  background-color: #3C3F41;
  border: none;
  color: white;
  border-right: 2px solid #696969;
}
button{
  height: 40px;
  margin: 0 0.3%;
  background-color: #3C3F41;
  border: none;
  color: white;
}
#InsPhoto{
    width: 40px !important;
    display: none;
}
.label-file {
    width: 40px;
    opacity: 0px;
}
#ListeSmiley{
    position: absolute;
    right: 0px;
     bottom: 0px;
    width: 164px;
    padding: 5px;
    box-sizing: border-box;
    border: 2px solid #696969;
    background-color: #3C3F41;
    display: none;
    z-index: 999;
}
#ListeSmiley img{
    width: 26px;
    margin: 2px;
}
img {
  width: 30px;
}
#Taille{
  height: 39px;
  vertical-align: super;
  color: white;
  border-right: 2px solid #696969;
}
/* ====================================== FIN BOUTTONS BARRE NAVIGATION ====================================== */
/* ====================================== ASIDE ====================================== */
.lignes {
  display: block;
  width: 40px;
    height: calc(100% + 10px);
  background-color: #313335;
  border-right: 2px solid #696969;
}
/* ====================================== FIN ASIDE ====================================== */
/* ====================================== ZONE MODAL ====================================== */
.Gris{
    background-color: #c4c4c478;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
}
/* ====================================== FIN ZONE MODAL ====================================== */
/* ====================================== MEDIA QUERIES ====================================== */
@media (max-width: 1160px) {
    nav{
        height: 80px;
    }
    .text{
        height: calc(100% - 92px);
    }
    select{
        border-bottom: 2px solid #696969;
    }
}
@media (max-width: 550px) {
    nav{
        height: 120px;
    }
    .text{
        height: calc(100% - 132px);
    }
}
@media (max-width: 380px) {
    nav{
        height: 160px;
    }
    .text{
        height: calc(100% - 172px);
    }
}
/* ====================================== FIN MEDIA QUERIES ====================================== */
